= content_tag_for(:li, user, :class => "item") do
  .sidebar
    = link_to( |
        t(".destroy_link"), |
        user_path(user), |
        {:confirm => t(".destroy_confirmation"), :disable_with => t(".destroy_disable"), :method => :delete, :class => "button"})
  .body
    %h3= link_to(user.name, edit_user_path(user))
    = mail_to(user.email_address)
