= content_tag_for(:li, role, :class => "item") do
  .sidebar
    = link_to( |
        t(".destroy_link"), |
        role_path(role), |
        {:confirm => t(".destroy_confirmation"), :disable_with => t(".destroy_disable"),:method => :delete, :class => "button"})

  .body
    %h2
      = link_to(role.desc, edit_role_path(role))
